# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/AccesoDatos/ejerciciosTema1/nbproject/private/
/AccesoDatos/ejerciciosTema1/build/
/AccesoDatos/Tema1Ejercicios/build/
/AccesoDatos/Tema1Ejercicios/nbproject/private/
/AccesoDatos/Tema0Ejercicios/build/
/AccesoDatos/Tema0Ejercicios/nbproject/private/
/SeviciosProcesos/comunicacionDeProcesos/JavaApplication1/nbproject/private/
/SeviciosProcesos/comunicacionDeProcesos/comunicacionDeProcesos/nbproject/private/
/SeviciosProcesos/comunicacionDeProcesos/comunicacionDeProcesos/build/
/SeviciosProcesos/comunicacionDeProcesos/nbproject/private/
/SeviciosProcesos/comunicacionDeProcesos/build/
/SeviciosProcesos/creacionDeProcesos/nbproject/private/
/SeviciosProcesos/creacionDeProcesos2/nbproject/private/
/SeviciosProcesos/leerFicheros/nbproject/private/
/SeviciosProcesos/multiprocesos/nbproject/private/
/SeviciosProcesos/procesosAleatorios/nbproject/private/
/SeviciosProcesos/processBuilder/nbproject/private/
/SeviciosProcesos/processBuilderFichero/nbproject/private/
/SeviciosProcesos/processBuilderFichero2/nbproject/private/
/SeviciosProcesos/sincronizacionDeProcesos/nbproject/private/
/SeviciosProcesos/terminacionDeProcesos/nbproject/private/
/SeviciosProcesos/aleatorioHijo/nbproject/private/
/AccesoDatos/ProyectoAD/dist/